
body
	font-family Arial
	margin 0
	padding 0
	font-size 12px

	input[type="number"]
		width 60px

	div#document

		div#toolbar
			position absolute
			background #CCC
			left 10px
			top 10px
			width 200px
			top 20px
			border 1px outset
			border-top-left-radius 8px
			border-top-right-radius 8px
			padding 0px

			div.title
				text-align center
				font-weight bold
				font-size 14px
				padding 4px
				height 17px
				color #444
				text-shadow 1px 1px #FFFFFF

			div.button
				float left
				border solid 1px #CCC
				width 16px
				height 16px
				padding 5px
				cursor pointer

			div.button:hover
				border 1px outset

		div.rightColumn
			position fixed
			background #CCC
			right 20px
			top 20px
			border 1px outset
			border-top-left-radius 8px
			border-top-right-radius 8px
			padding 0px

			div.title
				text-align center
				font-weight bold
				font-size 14px
				padding 4px
				height 17px
				color #444
				text-shadow 1px 1px #FFFFFF

			div#objectList
				border inset 1px
				margin 2px
				padding 0px 0px 0px 0px

				div.object_list
					background #FFFFFF
					border solid 1px #444
					height 250px
					overflow auto

					ul
						margin 0px
						padding 0px
						list-style-type none

						li
							cursor pointer
							width 98%
							padding 4px 1% 4px 1%

							.actions
								float right
								width 42px
								height 16px
								overflow hidden

						li.selected
							background #000088
							color #FFF

							input
								color #FFF

						input
							background none
							border none

			div#properties
				margin 5px 0px 0px 0px
				padding-top 3px
				width 275px

				div.tabBar
					width 100%
					height 23px
					border-bottom solid 1px #808080


					div.doChangeTab
						float left
						border 1px outset
						padding 4px 8px 4px 8px
						cursor pointer
						border-top-left-radius 5px
						border-top-right-radius 5px
						color #808080
						background #DDD

					div.selected
						color #000
						background #CCC
						border-bottom solid 1px #CCC

				div#properties-content
					overflow auto
					height 250px
					margin 3px

					div#properties_vertices
						height 245px
						overflow auto

						div.button
							float right
							border solid 1px #CCC
							width 16px
							height 16px
							padding 5px
							cursor pointer
							margin 0px 1px 3px 0px

						div.select
							border 1px inset

						div.move
							border 1px outset

					table
						width 100%
						border-collapse collapse

						tr.highlighted
						tr:hover
							background #CCCCFF

						tr.selected
							background #000088

							td
								input
									color #FFFFFF

						tr
							background #FFF

							th
								background linear-gradient(#CCC, #666);
								border solid 1px #000

							td
								padding 0
								border solid 1px #000

								input
									padding 2px
									background none
									border none
									width 97%

								select
									width 100%

	.window
		position fixed
		background #CCC
		border 1px outset
		border-top-left-radius 8px
		border-top-right-radius 8px
		padding 0px 4px 8px 4px

		div.title
			text-align center
			font-weight bold
			font-size 14px
			padding 4px
			height 17px
			color #444
			text-shadow 1px 1px #FFFFFF

		.settings_toolbar
			width 66px
			height 400px
			float left
			border 1px inset
			text-align center
			background #AAA

			div
				cursor pointer

		.settings_content
			width 800px
			height 400px
			overflow auto
			padding-left 5px

		.window_buttons
			clear both
			padding 10px

		table
			border-collapse collapse
			margin-bottom 5px
			background #FFF

			tr
				th
					background linear-gradient(#CCC, #666);
					border solid 1px #000

				td
					border 1px solid #000
					padding 0px

				td.button
					border none
					background #CCC

			input
				width 99%
				border none
				padding-left 2px

			.options
				margin-bottom 0px

				tr
					td
						border none
						border-right solid 1px #000

				input
					width 100px

				.option_label
					width 84px
					border-top solid 1px #000

				.doOptionDelete
					float right
					cursor pointer
					border-top solid 1px #000

